@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.light {
  --mainColor: #1eb292;
  --hoverColor: #8aedb9;
  --backgroundColor: #f9f9f9;
  --darkOne: #2d3236;
  --darkTwo: #2d3236;
  --lightOne: #5d5d5c;
  --lightTwo: #aaa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.background{
background-image: url('Background.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 50px;
  margin-right: 0.6rem;
  margin-top: -0.1rem;
}

.logo h3 {
  color: var(--darkTwo);
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--lightTwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hoverColor);
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hoverColor);
  transform: scale(1) !important;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.big-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 200px; 
}


.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 123%;
  transform: translate(15%, 25px);
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  .hamburger-menu {
    display: flex;
  }

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: none;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }

  .big-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}
/*=============== Features ===============*/
.features {
  background-color:#dcf7f1;
  padding: 10px;
  border-radius: 10px;
}

.feature {
  background-color: #f1f8fc;;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
  color: #2d3236;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.container h2 {
  color: #2d3236;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.2rem;
  color: #2d3236;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  color: #555;
}

:root {
  /* Colors */
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/* Responsive typography */
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CARD */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 0 10px; 
  margin-block: 30rem;
}

.card__container {
  display: flex;
  row-gap: 3.5rem;
}

.card-container .card__article {
  position: relative;
  overflow: hidden;
  width: calc(30% - 20px); 
  margin: 0 10px; 
  height: 120%;
}

.card-container .card__img {
  width: 100%;
  max-width: 650px;
  height: 100%;
  border-radius: 10px;
}

.card-container .card__data {
  width: 95%; 
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 5%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card-container .card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card-container .card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card-container .card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card-container .card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card-container .card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card-container .card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card-container .card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-container .card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

#blur-container.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
  z-index: 2;
}

.modal-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #555;
}

/* You can customize the close button further if needed */
.close:hover {
  color: #d01b1b;
}


/* Slider container styles */
.slider-container {
  text-align: center; /* Center content within the slider container */
}

/* Image styles */
.vision {
  max-width: 100%;
  margin-bottom: 20%;
  height: auto;
}

/* About Us Section Styles */
.about-us {
  background-color: #75F1B5; 
  padding: 10px; 
  text-align: center;
  margin-top: 2px;
}

.about-us h2 {
  font-size: 2.5rem; 
  color: #333; 
  margin-top: 10rem;
  margin-bottom: 1rem; 
  padding-top: 1rem;
  margin-top: 1%;
}

.about-us p {
  font-size: 1.2rem; 
  color: black; 
  max-width: 800px; 
  margin: 0 auto 2rem;
}
.about-us a {
  color: black;
  margin-top: 20px;
  margin-right: 40px;
  align-items: center;
  text-decoration: none; 
}


.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1eb292;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scroll-to-top i {
  font-size: 20px;
}

/* Responsive styles using media queries */
@media screen and (max-width: 600px) {
  /* Styles for screens up to 600px wide */
  header, section, footer {
    margin: 10px 0;
  }

  .container {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for screens between 601px and 1024px wide */
  header, section, footer {
    margin: 15px 0;
  }
}

/* Apply transition to image scaling */
.features .feature img,
.card-container .card__article .card__img {
  transition: transform 0.3s ease; /* Apply transition effect with a duration of 0.3 seconds */
}

/* Scale up the image when hovering over */
.features .feature img:hover,
.card-container .card__article .card__img:hover {
  transform: scale(1.1); /* Scale the image to 110% of its original size */
}

/* Apply transition to image scaling */
.slider-content .vision {
  transition: transform 0.3s ease; /* Apply transition effect with a duration of 0.3 seconds */
}

/* Scale up the image when hovering over */
.slider-content .vision:hover {
  transform: scale(1.1); /* Scale the image to 110% of its original size */
}

/* Base styles */

/* Apply default font and colors */
body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

/* Add styles for mobile devices */
@media screen and (max-width: 600px) {
  /* Adjust container padding for smaller screens */
  .container {
    padding: 0 1rem;
  }

  /* Adjust font size for smaller screens */
  .big-title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .logo h3 {
    font-size: 1.1rem;
  }

  /* Hide hamburger menu on larger screens */
  .hamburger-menu {
    display: none;
  }

  /* Adjust padding and margin for showcase area */
  .showcase-area {
    padding: 1rem 0;
    margin-top: 150px; /* Adjust margin-top as needed */
  }

  /* Adjust grid columns for smaller screens */
  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 1rem;
  }
}

/* Add styles for tablets and larger screens */
@media screen and (min-width: 601px) {
  /* Adjust container padding for larger screens */
  .container {
    padding: 0 2rem;
  }

  /* Adjust font size for larger screens */
  .big-title {
    font-size: 1.4rem;
  }

  .text {
    font-size: 1.1rem;
  }

  .logo h3 {
    font-size: 1.3rem;
  }

  /* Adjust margin-top for showcase area */
  .showcase-area {
    margin-top: 200px; /* Adjust margin-top as needed */
  }
}
