/* Your custom styles.css file */
@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');

:root {
  --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--green: #1eb292;
	--hoverColor: #8aedb9;
	--light-blue: #CFE8FF;
	--grey: #dcf7f1;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

/* Override Bulma styles with your custom styles */
body {
  background-color: var(--light);
  font-family: var(--poppins);
  margin: 0; /* Remove default margin */
}

.navbar {
  background-color: var(--grey);
  color: var(--white);
}

.navbar-item {
  color: var(--white);
  font-family: var(--poppins);
}

.panel {
  background-color: var(--white);
  color: var(--dark);
}

.panel-heading {
  background-color: var(--dark); /* Change this to your desired background color for the heading */
  color: var(--red);
}

.guide-image {
  border: 2px solid var(--dark);
  width: 100%; /* Make the image responsive */
}

.column {
  color: var(--orange);
}

/* Custom styles for the guided text container */
.guided-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 20px; /* Adjusted margin from the top */
}

/* Rest of your existing styles remain unchanged */
.guided-text h1 {
  font-size: 24px;
  color: var(--dark);
  font-family: var(--poppins);
  font-weight: bold;
}

.guided-text ol {
  list-style-type: none;
  padding-left: 0;
  font-family: var(--poppins);
}

.guided-text li {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--dark);
}

.guided-text small {
  color: var(--dark);
}


/*  LOADING */

.panel-block {
  position: relative; /* Ensure proper positioning of the loading spinner */
}

.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  /* Add your spinner styles here */
  /* For example, you can use an animated GIF, or use CSS animations */
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  
  
  