.choice-container {
  display: flex;
  margin-bottom: 2.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #8aedb9;
  background-color: white;
  transition: background-color 150ms; /* Add a transition for a smooth color change */
}

.choice-container:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  background-color: #8aedb9; /* Change the background color on hover */
}

  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #2d3236;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #dcddf7;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.6rem;
    background-color: #2d3236;
    width: 0%;
  }
  
  /* LOADER */
  #loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }