#highScoresTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 4rem;
  font-size: 2.2em;
  font-family: "Poppins", sans-serif;
}

#highScoresTable th, #highScoresTable td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}

#highScoresTable th {
  background-color: #f2f2f2;
  text-align: center;
}

.high-score:hover {
  transform: scale(1.025);
}
