body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container {
    padding: 20px; /* Adjust padding as needed */
    margin-left: 0; /* Set margin-left to 0 to align with video-feed */
    width: 600px; /* Set the maximum width for the video container */
}

#video_feed {
    height: auto;
    width: 150%; /* Set the width to 150% to make the video responsive */
    border: 1px solid #ccc;
    border-radius: 1%;
    box-shadow: 5 18px 18px rgba(192, 208, 167, 0.1); /* Add shadow effect (adjust values as needed) */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 50px; /* Add padding to the left of container for spacing */
}

.guided-image img {
    max-width: 100%;
    height: auto;
}

.guided-image {
    margin-top: 20px;
}

.guided-text {
    padding: 10px;
    max-width: 100%;
    text-align: center;
}

h1 {
    color: #333;
}
