<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png" type="image/png"> 
    <link rel="stylesheet" href="./realtime.css" />
    <title>Real-time Pose Estimation</title>
       
</head>
<body>
    <div class="container">
        <div>
            <h1>Real-time Pose Estimation with BlazePose</h1>
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Real-time Video Feed">
        </div>
        <div class="guided-image-container">
            <img class="guided-image" src="/static/1.png" alt="Guided Image">
        </div>
    </div>
</body>
</html>
